h1{
	color: green;
}
#title {
	font-weight: bold;
	color: fuchsia;
}
.LinkButton {
	background-color: tomato;
	color: white;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 10px;
}
.LinkButton:hover {
	background-color: red;
}